<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Hello! {{user.nickname}}</p>
<img src="{{user.logo}}" alt=""/>
{{#unless user}}
    <img src="img/Connect_logo_3.png" alt="QQ登陆" onclick="window.location.href='/api/oauth2/qq'"/>
{{/unless}}
