<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta property="qc:admins" content="351557670441455741505360527351006375" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
      <script src="http://localhost:35731/livereload.js"></script>
  {{/if}}
</head>
<body>
{{{body}}}
</body>
</html>
